name: Build main

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 8 ]
      fail-fast: true

    steps:
      - uses: actions/checkout@v4.2.2
      - name: JDK ${{ matrix.java }}
        uses: actions/setup-java@v3.9.0
        with:
          java-version: ${{ matrix.java }}
          cache: 'maven'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Stage jar
        run: mkdir staging && cp target/Troll.jar staging
      - name: Upload jar
        uses: actions/upload-artifact@v3
        with:
          name: Troll
          path: staging/Troll.jar